* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Raleway', sans-serif!important;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    background-color: #ecf0f3;
}

.form-control.error input {
    border-style: solid!important;
    border-color: red!important;
    
}

.form-control.success input {
    border-style: solid!important;
    border-color: #24cfaa!important;
    
}

.form-control {
    margin-bottom: 15px;
    height: 90px;
}

.form-control small {
    visibility: hidden;
}
.form-control.error small {
    visibility: visible;
}


.container {
    width: 450px;
    height: 700px;
    padding: 50px 30px 30px 30px;
    border-radius: 40px;
    background-color: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1,
              -13px -13px 20px #ffffff;
}

.title {
    text-align: center;
    font-size: 30px;
    padding-top: 24px;
    letter-spacing: 1px;
    margin-bottom: 60px;
    
}

.form {
    width: 100%;
    padding: 75px 5px 5px 5px;    
}


small {
    text-align: center;
    margin: auto;
    display: block;
    font-weight: 300;
}

input {
    margin: auto;
    display: block;
    margin-bottom: 10px!important;
    font-weight: 600;
    
}

#username, #password, #password-2, #email {
    width: 75%;
    text-align: center;
    border: none;
    outline: none;
    background: none;
    font: 18px;
    color: #555;
    padding: 20px 10px 20px 5px;
}

.username, .password, .password-2, .email {
margin-bottom: 30px;
border-radius: 25px;
box-shadow: inset 4px 4px 4px #cbced1, 
            inset -4px -4px 4px #fff;
}


.button {
    outline: none;
    margin: auto;
    display: block;
    border:none;
    cursor: pointer;
    width:75%;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    color:#fff;
    text-align: center;
    background: #24cfaa;
    box-shadow: 3px 3px 8px #b1b1b1,
                -3px -3px 8px #ffffff;
    transition: 0.5s;
  }
  .button:hover {
    background:#2fdbb6;
  }
  .button:active {
    background:#1da88a;
  }
  